---
layout: default
title: Artist Story
description: "Minnesota artist Kellie Rae Theiss has dedicated her life to observing and painting nature. Most of the year she can be found at her Turtle-hill Studio, near Prairie Lake in the north woods of Minnesota. Her reverent and intimate paintings capture the spirit, beauty, and wonder of nature’s blessings."
permalink: /artist-story/
---
<h1>{{page.title}}</h1>
<h2>About Kellie Rae Theiss</h2>
<p><a href="/images/about/kellie2.jpg" title="Kellie Rae Theiss - Minnesota Artist" rel="shadowbox[About]"><img
			src="/images/about/kellie2.jpg" alt="Kellie Rae - Minnesota Artist"
			style="float: left; width: 200px; margin:35px 15px 60px 10px; border:2px solid white;" /></a>My formal art
	education began at the <a href="http://www.unl.edu/finearts/" title="University Of Nebraska Fine Arts Program"
		target="_blank">University of Nebraska</a>. This took me to observe art in over 27 countries of Europe, then on
	to attend the <a href="http://www.accademiariaci.info/" title="Accedemia de Riaci in Florence, Italy"
		target="_blank">Accedemia de Riaci in Florence, Italy</a>. I have worn many hats for the arts as an educator,
	owner and director of <a href="/" title="Kellie Rae Theiss Gallery">Kellie Rae Theiss (Red House)
		Gallery</a> for nine years. It is very important to note that I have also been a student of the community of
	artists here and abroad. Libraries of information have come from the extraordinary artists and students that I have
	been privileged to work with and for over the past 25 years here in <strong>Minnesota</strong>.</p>
<p><a href="/images/about/izzie3.jpg" title="Izzie - My Agent" rel="shadowbox[About]"><img
			style="float:right; margin:2px 0 6px 6px; width: 150px; border: 2px solid #fff;" src="/images/about/izzie3.jpg"
			alt="Kellie Rae Theiss - Minnesota Artist" /></a> Above anything else I am here as an artist for
	<strong>nature</strong>. For 31 years my <a href="/prints-and-originals/" title="Kellie Rae Nature Artwork">paintings</a>
	have been about expressing a reverence for the natural object or creature. Rendering with academic precision, I
	attempt to relate to the viewer with a touch of surrealism how beautiful, fragile and brief are the creatures and
	their physical world. I also intend parallels to be pondered regarding our existence with theirs. Is there is a
	physical connection to the spiritual realm? Are we responsible to observe, appreciate and protect? I hope that my
	work will reflect these questions, creating a stronger connection to nature and a sense for protecting it.</p>
<h2>Biography</h2>
<p>
	<!--<a href="/images/about/20.jpg" title="Wood Sketch" rel="shadowbox"><img src="/images/about/20.jpg" alt="Kellie Rae Theiss - Minnesota Artist"  style="height: 150px; float: left; padding: 5px 15px 15px 15px;" /></a>-->
</p>
<p>Born on her ancestral family farm among the rolling hills and praries of Northeastern Nebraska, Kellie Rae has always
	retained a love of, and respect for, the natural world. Whether it be the cultivated fields of golden corn and
	wheat, the natural grasslands that cover endless miles of land, or the streams that water the earth, this beautiful
	environment remains the essential foundation of her view of the world.</p>
<p>Her reverence and respect for nature imbue her life and art with the sincerity of prayer, as befits a woman whose
	Quaker forbearers moved West to establish one of Nebraska's first homesteaded farms.</p>
<p>A poet as well as a painter, Kellie Rae sees the world in terms of its beauty and its sanctity. Like the prose of the
	great Nebraska author Willa Cather, or the contemporary poems of Mary Oliver, Kellie Rae's visual images show us an
	understanding of the specialness of the most humble of natural forms. Her paintings are a sincere celebration of
	life imbued with careful observation, tenderness, and respect. The creatures she depicts are not anonymous. Each one
	expresses the uniqueness of the individual, the sense of personality that recognizes the special character of all of
	God's creations.</p>
<p>Kellie Rae's poetic vision of nature comes into the world through the masterful sureness of her craft. She studied
	art at the University of Nebraska and later added to her training at an art academy in Florence, Italy. Her
	sophisticated technique is based on the craft of the Renaissance masters whose work she studied and whose careful
	building up of the image yields a sense of depth that evokes the beating heart that lies beneath the feathers or
	scales in all their complexity of color and texture. The animals she creates exist in a space that adds a sense of
	mystery and timelessness to the vision.</p>
<p>These paintings could not have been created within the overbearing built environment of the city with its noise and
	frenetic activity. Her studio sits on a hill overlooking Prarie Lake in Northern Minnesota. Surrounded by woods and
	long vistas of water, her retreat is a place of sanctuary that allows her to enter the fullness of nature in all
	seasons. A student of natural history, Kellie Rae is a ceaseless student, ever eager to learn about the animals who
	fill her life and her art. She is a close observer of nature and fascinated with creatures great and small. Her work
	honors the world in which she lives and provides her with an essential expression of her love of life in its many
	forms. We are fortunate that Kellie Rae has devoted her life to bringing her vision to others as an affirmation of
	the world in which we live.</p>
<p><em>Bio By - Dr. Evan Maurer<br /><span class="small">(Minneapolis Instute of Art, Director
			Emeritus)</span></em></p>
<h2>My Inspiration</h2>
<p>
	<a href="/images/about/08.jpg" title="Night on the Lake" rel="shadowbox[Inspiration]">
		<img src="/images/about/08.jpg" alt="Kellie Rae Theiss - Minnesota Artist"
			style="height: 225px;float: left; padding:15px 15px 15px 0px;" />
	</a> About nine months out of the year I am at my home and studio in northern Minnesota. This magical place provides
	the backdrop for my inspiration. It takes my breath away to come upon
	<strong>nature</strong>, to watch great blue herons passing overhead or have the company of a northern leopard frog
	in my hand.
	It is a thrill to observe creatures that are so very different than ourselves. It is my passion as an
	<strong>artist</strong> to capture the mystery and pride in
	<a href="portfolio.html" title="Portfolio of Naure Artwork">painted portraits of nature</a>. The subjects are
	<a href="insects-amphibians-aquatic-plants-paintings-gallery.html"
		title="Insects, Amphibians &amp; Aquatic Plant Paintings &amp; Artwork Gallery">frogs</a>,
	<a href="insects-amphibians-aquatic-plants-paintings-gallery.html"
		title="Insects, Amphibians &amp; Aquatic Plant Paintings &amp; Artwork Gallery">insects</a>,
	<a href="insects-amphibians-aquatic-plants-paintings-gallery.html"
		title="Insects, Amphibians &amp; Aquatic Plant Paintings &amp; Artwork Gallery">crayfish</a>,
	<a href="insects-amphibians-aquatic-plants-paintings-gallery.html"
		title="Insects, Amphibians &amp; Aquatic Plant Paintings &amp; Artwork Gallery">tadpoles</a>,
	<a href="insects-amphibians-aquatic-plants-paintings-gallery.html"
		title="Insects, Amphibians &amp; Aquatic Plant Paintings &amp; Artwork Gallery">turtles</a>,
	<a href="fish-paintings-gallery.html" title="Fish Paintings & Artwork Gallery">fish</a>,
	<a href="bird-paintings-gallery.html" title="Bird Paintings Gallery">birds</a> and
	<a href="insects-amphibians-aquatic-plants-paintings-gallery.html"
		title="Insects, Amphibians &amp; Aquatic Plant Paintings &amp; Artwork Gallery">butterflies</a>. I do mean that
	I love it all - their patterns, color and the symmetry. But what is more - is that in
	their strangeness they are remarkably romantic. They come in many shapes and expressions, some divine, however they
	are
	all creations of absolute poetry.</p>
<br />
<br />
<div class="clear"></div>
<h3>
	<center>Click on any of the images to open the gallery</center>
</h3>
<p style="text-align: center;">
	
	<div class="grid-gallery">
		<div class="gallery-grid-sizer"></div>
		{% for image in site.static_files %}
			{% if image.path contains 'images/about' %}
				<!--<img src="{{ site.baseurl }}{{ image.path }}" alt="Kellie Rae Art" style="height: 113px; border: 1px solid white;" />-->
				<div class="gallery-grid-item  {% for class in p.class %}{{ class }} {% endfor %}">
					<div class="gallery-image-area">
						<img src="{{ site.baseurl }}{{ image.path }}" class="grid-thumbnail-image" alt="" />
						<div class="gallery-overly">
							<a class="grid-image-zoom" href="{{ site.baseurl }}{{ image.path }}" data-fancybox-group="grid-gallery">
								<div class="gallery-zoom-icon"></div>
							</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</p>
<style>
.gallery-image-area .gallery-zoom-icon {
	border-radius: 5px;
	display: block;
	content: '';
	position: absolute;
	background: url(..//img/icon/zoom.png) no-repeat center center;
	top: auto;
	left: auto;
	height: 100%;
	width: 100%;
	border: 4px double #fff;
	opacity: 0;
	-webkit-transform: translate(0, 0) rotate(0deg);
	transform: translate(0, 0) rotate(0deg);
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	z-index: 5;
}
</style>
<!-- jQuery -->
<script src="/assets/externals/jquery.min.js"></script>
<!-- ImagesLoaded JS -->
<script src="/assets/externals/imagesloaded.pkgd.min.js"></script>
<!-- Isotope JS -->
<script src="/assets/externals/isotope.pkgd.min.js"></script>
<!-- Masonry JS -->
<script src="/assets/externals/masonry.pkgd.min.js"></script>
<!-- FancyBox JS -->
<script src="/assets/externals/fancybox/jquery.fancybox.js"></script>
<!-- Custom JS -->
<script src="/assets/customs/js/gallery.js"></script>