</div>
<footer>
	<div class="footer center">
		<p class="center white small">&copy;2019 Kellie Rae Art | For Love of Minnesota<br />
			<a href="#" title="">Home</a> . <a href="#" title="">Prints & Originals . <a href="#" title="">Cards &
					Postcards</a> . <a href="#" title="">Posters & Gifts</a> . <a href="#" title="">Artist Story</a> .
				<a href="#" title="">Contact</a> . <a href="#" title="">View Cart</a><br /><br />
				Powered By <a href="https://www.westlake-media.com" title="Powered by Westlake Media">Westlake Media</a>
		</p>
	</div>
</footer>
</body>

</html>